---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div
  class={`max-w-5xl mx-auto ${noPadding ? "px-0" : "px-4 sm:px-6 md:px-8 lg:px-12"}`}
>
  <hr class="border-skin-line" aria-hidden={ariaHidden} />
</div>
